    <header-dir></header-dir> <!--header goes here-->
    <navbar-dir></navbar-dir> <!----navigation goes here----->
    <div ng-if="display==displayContent.default">
        <slide-dir></slide-dir> <!--image slider goes here ---->
        <subcontain-dir></subcontain-dir>
        <form-dir></form-dir>
    </div> 
    <div ng-if="display==displayContent.medicalProfessional">
        <h1>Medical Professional</h1>
        
        <input type="image" src="/main_template/image/work%20in%20progress.png">
        
        
        <form name="clinicForm" align="left"  onsubmit='addClinic(event)' method="post">
			            <table class="table-hover">
						
						
			<tr>
              <th><label id="organizationLable">Organiztion</label></th>
                <td>                    
                    <select name="Organiztion" id="organiztion">
                    <option value=""> Select an Organiztion </option>    
                            <option value="CVS"> CVS Clinic </option>
                            <option value="Walgreens"> Walgreens Clinic </option>
                            <option value="Baylor"> Baylor Hospital </option>
                            <option value="North Texas"> North Texas Clinic  </option>
							<option value="Dallas Health">Dallas Health Center </option>

                    </select>
                </td>
            </tr>

			<tr>
				<th><label id="clinicNameLable" >Clinic Name</label></th>
				<td><input type="text" name="Clinic" id="clinic" placeholder="Enter Clinic Name" >
					<span id="clinicNameerr"></span>
				</td>
            </tr>
			
			<tr>
				<th>
                <label id="addressLabel">Address</label>
				</th>	
                <td calss='right'>
                    <input type='text' name="StreetName"  id="address" placeholder="Enter Street Name">
                    
				</td>
			</tr>
	
			<tr>
				<th><label id="citLabel">City</label></th>
               <td><input type="text" name="City" id="city" placeholder="Enter City">
                </td>
            </tr>
			
			<tr>
              <th><label id="stateLable">State</label></th>
                <td>                    
                    <select name="State" id="state">
                    <option value=""> Select a State </option>    
   	<option value="AL">Alabama</option>
	<option value="AK">Alaska</option>
	<option value="AZ">Arizona</option>
	<option value="AR">Arkansas</option>
	<option value="CA">California</option>
	<option value="CO">Colorado</option>
	<option value="CT">Connecticut</option>
	<option value="DE">Delaware</option>
	<option value="DC">District Of Columbia</option>
	<option value="FL">Florida</option>
	<option value="GA">Georgia</option>
	<option value="HI">Hawaii</option>
	<option value="ID">Idaho</option>
	<option value="IL">Illinois</option>
	<option value="IN">Indiana</option>
	<option value="IA">Iowa</option>
	<option value="KS">Kansas</option>
	<option value="KY">Kentucky</option>
	<option value="LA">Louisiana</option>
	<option value="ME">Maine</option>
	<option value="MD">Maryland</option>
	<option value="MA">Massachusetts</option>
	<option value="MI">Michigan</option>
	<option value="MN">Minnesota</option>
	<option value="MS">Mississippi</option>
	<option value="MO">Missouri</option>
	<option value="MT">Montana</option>
	<option value="NE">Nebraska</option>
	<option value="NV">Nevada</option>
	<option value="NH">New Hampshire</option>
	<option value="NJ">New Jersey</option>
	<option value="NM">New Mexico</option>
	<option value="NY">New York</option>
	<option value="NC">North Carolina</option>
	<option value="ND">North Dakota</option>
	<option value="OH">Ohio</option>
	<option value="OK">Oklahoma</option>
	<option value="OR">Oregon</option>
	<option value="PA">Pennsylvania</option>
	<option value="RI">Rhode Island</option>
	<option value="SC">South Carolina</option>
	<option value="SD">South Dakota</option>
	<option value="TN">Tennessee</option>
	<option value="TX">Texas</option>
	<option value="UT">Utah</option>
	<option value="VT">Vermont</option>
	<option value="VA">Virginia</option>
	<option value="WA">Washington</option>
	<option value="WV">West Virginia</option>
	<option value="WI">Wisconsin</option>
	<option value="WY">Wyoming</option>
	</select>
                </td>
            </tr>
            
           
            
            <tr>
               <th><label id="zipcodeLabel">Zipcode</label></th>
                <td><input type="text" name="Zipcode" id="zipcode" placeholder="Zipcode">
            </td>
            </tr>
			
		 <tr>
           <th><label id="phoneLable">Phone Line 1</label></th>
                <td><input type="text" name="PhoneLine1" id="phone1" placeholder="XXX-XXX-XXXX">
				<span id="phone1err"></span>
			  </td>
         </tr>
		 <tr>
           <th><label id="phoneLable">Phone Line 2</label></th>
                <td><input type="text" name="PhoneLine2" id="phone2" placeholder="XXX-XXX-XXXX">
				<span id="phone2err"></span>
			  </td>
         </tr>
		 <tr>
				<th><label id="faxLable">Fax</label></th>	
				<td>
                    <input type='text' name="Fax" id="fax" placeholder="XXX-XXX-XXXX">
				</td>
			</tr>
			
			 <tr>
				<th><label id="emailLable">Email</label></th>	
				<td>
                    <input type='text' name="Email" id="email" placeholder="enter your email">
				</td>
			</tr>
			
		 
			 
		 
			</table>
	    </form>
        
         <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button> 
        <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
      </div>
        
        
    </div> 
    <div ng-if="display==displayContent.staff">
        <h1>staff</h1>
        
        <input type="image" src="/main_template/image/work%20in%20progress.png">
        
        <form name="prescriberForm" method="post">
            <table class="table-hover">  
            <div class=" row ">  
                <div class="col-md-2"> First Name
                </div>
                <div class="col-md-2">
                <input type="text" placeholder="First Name ">
                </div>
            </div>
                <div class=" row ">
                <div class="col-md-2"> Middle Name
                </div>
                <div class="col-md-2">
                <input type="text" placeholder="Middle Name ">
                </div>
            </div>
            <div class=" row ">
                <div class="col-md-2"> Last Name
                </div>
                <div class="col-md-2">
                <input type="text" placeholder="Last Name ">
                </div>
            </div>
            
            <div class="row">
                <div class = "col-md-2"> Gender </div>
                <div class = "col-sm-3">
                <input type = "radio" name = "gender" value = "male"> Male
                <input type = "radio" name = "gender" value = "female"> Female
                <input type = "radio" name = "gender" value = "NoPreference"> NoPreference
                </div>
            </div>
            
                <div class=" row ">
                <div class="col-md-2"> DEA
                </div>
                <div class="col-md-2">
                <input type="text" placeholder="DEA ">
                </div>
            </div>
                
                <div class=" row ">
                <div class="col-md-2"> Board_Certification
                </div>
                <div class="col-md-2">
                <input type="text" placeholder=" Board_Certification ">
                </div>
            </div>
            <div class=" row ">
                <div class="col-md-2"> Medical_School
                </div>
                <div class="col-md-2">
                <input type="text" placeholder=" Medical_School ">
                </div>
            </div>
            
                
                <div class=" row ">
                <div class="col-md-2">  Internship
                </div>
                <div class="col-md-2">
                <input type="text" placeholder=" Internship ">
                </div>
            </div>
                
                
                <div class="row">
                <div class = "col-md-2"> Preferred_Contact </div>
                <div class = "col-sm-3">
                <input type = "radio" name = "Preferred_Contact" value = "text "> text
                <input type = "radio" name = "Preferred_Contact" value = "email"> email
                <input type = "radio" name = "Preferred_Contact" value = "phone number"> phone number
                </div>
            </div>
                
                <div class="row">
                <div class = "col-md-2">Email Address</div>
                <div class="col-md-2">
                    <input type="email" > 
                </div>
            </div>
                
                
                <div class="row">
                <div class = "col-md-2">CellPhone</div>
                <div class="col-md-2">
                    <input type="tel" > 
                </div>
            </div>
            <div class="row">
                <div class = "col-md-2">Phone</div>
                <div class="col-md-2">
                    <input type="tel" > 
                </div>
            </div>
            
                
                
                
                
                
            <div class = "row">
                <div class = "col-md-2"> Language-Spoken </div>
                
                <div class = "col-md-8">
                    
                    <select ng-model="Language_Spoken">
                      <option value="">
                    <option value="ENGLISH">ENGLISH
                    <option value="SPANISH">SPANISH
                    <option value="Tagalog">Tagalog
                    <option value="CHINESE">CHINESE
                    <option value="FRENCH">FRENCH
                    <option value="GERMAN">GERMAN
                    <option value="ARABIC">ARABIC
                    <option value="HINDI">HINDI
                    <option value="OTHERS">OTHERS
                  </select><br>

                </div>
            </div>
                
                
                
                 <div class = "row">
                <div class = "col-md-2"> Language-Spoken </div>
                
                <div class = "col-md-8">
                 <select ng-model="Specialities">   
                    
            <option value="">
                    <option value="psychiatrist">psychiatrist</option>
                    <option value="Anesthesiologist">Anesthesiologist</option>
                    <option value="Cardiologist">Cardiologist</option>
                    <option value="Surgeon">Surgeon</option>
                    <option value="Dermatologist">Dermatologist</option>
                    <option value="pediatrician">pediatrician</option>
                    <option value="Endocrinologist">Endocrinologist</option>
                    <option value="physician">physician</option>
                    <option value="Gastroenterologist">Gastroenterologist</option>
                    <option value="Gynecologist">Gynecologist</option>
                    <option value="oncologist">oncologist</option>
                    <option value="Hepatologist">Hepatologist</option>
                    <option value="Medicalexaminer">Medicalexaminer</option>
                    <option value="Nephrologist">Nephrologist</option>
                    <option value="Neurologist">Neurologist</option>
                    <option value="Obstetrician">Obstetrician</option>
                    <option value="Ophthalmologist">Ophthalmologist</option>
                    <option value="Otolaryngologist">Otolaryngologist</option>
                    <option value="Pathologist">Pathologist</option>
                    <option value="Pediatrician">Pediatrician</option>
                    <option value="Plasticsurgeon">Plasticsurgeon</option>
                    <option value="Pulmonologist">Pulmonologist</option>
                    <option value="Radiologist">Radiologist</option>
                    <option value="Spinalcordinjury">Spinalcordinjury</option>
                    <option value="specialist">specialist</option>
                    <option value="Urologist">Urologist</option>
    
                  </select><br>

                </div>
            </div>
             
            
            </table>
        </form>
         
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button> 
        <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
      </div>
        
        
    </div> 