<html lang="en">
<head>
  <link rel='icon' href='/main_template/image/WhaDnTb7.png'>
  <title> Cubic Medical Professionals</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>
<body ng-app='ehr'>
    <display></display>
    <footer-dir></footer-dir>
</body>
    
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/main_template/style/style1.css">
    
    <script type='application/javascript' src='/node_modules/angular/angular.js'></script>
    
    <script type='application/javascript' src='/main_template/js/ehr.js'></script>
    
    <!--controller-->
    <script type='application/javascript' src='/main_template/js/controller/mainCtrl.js'></script>
    
    <!--Directives--->
    <script type='application/javascript' src='/main_template/js/directive/headerDir.js'></script>
    
    <script type="text/javascript" src="/main_template/js/directive/displayDir.js"></script>
    <script type="text/javascript" src="/main_template/js/service/displayService.js"></script>
</html>
