    <div class="container text-center">
      <h3>What We Do</h3><br>
      <div class="row">

        <div class="col-sm-4">   
          <img src="/main_template/image/c1.jpg" class="img-responsive" style="width:100%" alt="Image">
          <br><br>

             <img src="/main_template/image/c2.jpg" class="img-responsive" style="width:100%" alt="Image">
         <br>
        </div>

        <div class="col-sm-5">
          <div class="well well-lg">
           <p>The physicians on our medical staff are available to provide the quality care and treatment you and your family need.We take great pride in being at the forefront of adopting new medical technology and procedures</p>
          </div>
          <div class="well well-lg">
           <p> <b>At Cubic,</b> we’re proud of the national and local recognitions we receive. 
               It means our efforts toward health care excellence are not going unnoticed.
               But it’s not about us. It’s about you and the confidence you find in turning to an award-winning health system for your family’s health care needs.
            </p>
          </div>
            <div class="well well-lg">
           <p><b>Members of the Cubic Medical professional family</b> bring hope and smiles to patients and their families every day. Our employees are the heart of our organization. We've begun a tradition of collecting their stories of hope, healing and caring to share and inspire others to lead lives of service and compassion. We hope you enjoy them as much as we do.</p>
          </div>

        </div>



      </div>
    </div><br>