<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/jee 
http://www.springframework.org/schema/jee/spring-jee.xsd 
http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/data/jpa 
http://www.springframework.org/schema/data/jpa/spring-jpa.xsd 
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/util 
http://www.springframework.org/schema/util/spring-util.xsd">

<import resource="CommonConfig.xml"/>

<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
<property name="locations">
<list>
	<value>file:C:\develop\core-spring\app.properties</value>
</list>
</property>
</bean>

<bean name="psV1Obj1" class="com.cubic.spring.ProductServiceImpV1" parent="absService" scope="prototype">
	<property name="notifyService" ref="nsEmail"></property>
</bean>

<bean name="psV1Obj2" class="com.cubic.spring.ProductServiceImpV1" parent="absService">
	<property name="manufacturer" value="Water"></property>
	<property name="notifyService" ref="nsSms"></property>
</bean>

<bean name="psV1Obj3" class="com.cubic.spring.ProductServiceImpV1" scope="prototype">

<constructor-arg value="Ompla"></constructor-arg>
<constructor-arg value="3.33"></constructor-arg>
<constructor-arg value="2000"></constructor-arg>
	<property name="notifyService" ref="nsEmail"></property>
	
	<property name="comments">
		<list>
			<value>Comment 1</value>
			<value>Comment 2</value>
			<value>Comment 3</value>
			<value>Comment 4</value>
		</list>
	</property>
	<property name="manufacturers" ref="customers">
	</property>
	
	<property name="priceMap">
		<map key-type="com.cubic.spring.Manufacturer">
			<entry key="GOOGLE" value="4002"></entry>
			<entry key="APPLE" value="4012"></entry>
			<entry key="MICROSOFT" value="4022"></entry>
			<entry key="ORACLE" value="4032"></entry>
			
		</map>
	</property>
</bean>

<bean name="dbParameter" class="com.cubic.spring.DBParameter">
<property name="url" value="${db.url}"></property>
<property name="username" value="${db.username}"></property>
<property name="password" value="${db.password}"></property>
</bean>

	<util:set id="customers" set-class="java.util.LinkedHashSet" value-type="com.cubic.spring.Manufacturer">
		<value>GOOGLE</value>
		<value>APPLE</value>
		<value>MICROSOFT</value>
		<value>ORACLE</value>

	</util:set>


</beans>
